body {
	margin-left: 15%;
	margin-right: 15%;
	border-color: white;
	border-style: solid;
	border-width: 10px;
}

div#body {
	background-color: white;
	overflow: hidden;
}

div#header {
	overflow: hidden;
	background-color: #132851;
	color: white;
}

div#textblock {
    background-color: #a0dadb;
    border-color: #1D2475;
	border-style: solid;
	border-width: 4px;
	border-radius: 15px;
	padding: 5px;
	margin-top: 10px;
}

div#textblock h3 {
    font-style:oblique;
    border-color: blue;
	border-bottom: dashed;
	border-width: 2px;
    padding-bottom: 5px;
}

h1 {
    text-align: center;
	font-size:3em;
	color:#7f9ad1;
}

.popupWord {
	cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.popupLayer {
	position: absolute;
	display: none;
	background-color: white;
	width: 100px;
	height: 100px;
	padding: 10px;
    color: black;
    text-align: center;
    line-height: 100px;
    border-radius: 100px;
    border: 7px solid green;
    border-bottom-color: white;
}

.popupLayer:after {
    
}

.popupLayer div { /* 팝업 레이어에 있는 닫기(X) 버튼 */
	position: absolute;
    left: 50px;
    top: 25px;
    line-height: 0px;
}
